<div class='hidden-sm-down'>
  {% for p in site.data.contact %}
      <div class="card card-inverse card-primary" style="margin-bottom: 1em; margin-right: 1em">
        <div class="card-block">
          <a href='{{ p[1]["url"] }}'>
            <i class='fa fa-{{ p[1]["icon"] }} fa-fw fa-3x' style='color: white'></i>
          </a>
        </div>
      </div>
  {% endfor %}
</div>

<div class='hidden-md-up row'>
  {% for p in site.data.contact %}
    <div class='col-4'>
      <div class="card card-inverse card-primary text-center" style="margin: 1em">
        <div class="card-block">
          <a href='{{ p[1]["url"] }}'>
            <i class='fa fa-{{ p[1]["icon"] }} fa-fw fa-3x' style='color: white'></i>
          </a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>