<h2>Employment History</h2>

<div id="employment" role="tablist" aria-multiselectable="true">
{% assign jobs = site.jobs | sort: "start" %}
{% for job in jobs reversed %}
  {% assign job_id = job.title | downcase %}
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading-job-{{forloop.index0}}">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#employment" href="#job-{{forloop.index0}}" aria-expanded="{{ forloop.first }}" aria-controls="job-{{forloop.index0}}">
          {% if job.organisation %}
            <!-- {% if job.organisation_url %}
              <a href='{{job.organisation_url}}'>
            {% endif %} -->
            {{ job.organisation }}
            <!-- {% if job.organisation_url %}
              </a>
            {% endif %} -->
            <small class="text-muted">
              {% include date_range.html item=job %}
            </small>
          {% else %}
            {% include date_range.html item=job %}
          {% endif %}
        </a>
      </h3>
    </div>
    <div id="job-{{forloop.index0}}" class="panel-collapse collapse {% if forloop.first %}in{%endif%}" role="tabpanel" aria-labelledby="heading-job-{{forloop.index0}}">
      <address>{{ job.location }}</address>
      {% if job.role %}<h4>{{job.role}}</h4>{% endif %}
      {{ job.content }}
      
      {% assign roles = site.roles | sort: "start" %}
      {% for role in roles reversed %}
        {% if role.job == job_id %}
          <h4>
            {{role.title}}
            <small class="text-muted">{% include date_range.html item=role %}</small>
          </h4>
          {{role.content}}
        {% endif %}
      {% endfor %}
    </div>
  </div>

{% endfor %}
</div>
