<style>
  #legend {
    float: right;
  }
  #legend li {
    list-style-type: none;
    display: inline-block;
    margin-right: 1.5em;
    color: gray;
  }
</style>

<div id='legend'>
  <ul>
    <li><i class='fa fa-briefcase'></i> Employed</li>
    <li><i class='fa fa-handshake-o'></i> Contract</li>
    <li><i class='fa fa-user'></i> Self Employed</li>
    <li><i class='fa fa-hand-peace-o'></i> Voluntary</li>
    <li><i class='fa fa-graduation-cap'></i> Education</li>
  </ul>
</div>

<h2>Experience</h2>

<ul class="list-group">
  {% assign experiences = site.experiences | sort: "start" %}
  {% for experience in experiences reversed %}
    {% assign experience_id = experience.title | downcase %}
    <li class="list-group-item" id="heading-experience-{{forloop.index0}}">
      <h3>
        <a data-toggle="collapse" data-parent="#experience" href="#experience-{{forloop.index0}}" aria-expanded="{{ forloop.first }}" aria-controls="experience-{{forloop.index0}}">
          <i class='fa fa-{{ site.data.icons[experience.status] }} fa-fw' aria-label='{{experience.status}}'></i>
          <!-- {% if experience.organisation_url %}
            <a href='{{experience.organisation_url}}'>
          {% endif %} -->
          {{ experience.organisation }}
          <!-- {% if experience.organisation_url %}
            </a>
          {% endif %} -->
          <small class="text-muted">
            {% include date_range.html item=experience %}
          </small>
        </a>
      </h3>

      <div id="experience-{{forloop.index0}}" class="panel-collapse collapse {% if forloop.first %}in{%endif%}" role="tabpanel" aria-labelledby="heading-experience-{{forloop.index0}}">
        <div style="padding-bottom: 20px">
          {% if experience.location %}
            <div style='display: inline; padding-left: 30px'>
              <i class='fa fa-map-marker'></i>
              <address style='display: inline'>{{ experience.location }}</address>
            </div>
          {% endif %}
          {% if experience.organisation_url %}
            <div style='display: inline; padding-left: 30px'>
              <i class='fa fa-globe'></i>
              <a href='{{ experience.organisation_url }}'>
                {{ experience.organisation_url }}          
              </a>
            </div>
          {% endif %}
        </div>
        {% if experience.role %}<h4>{{experience.role}}</h4>{% endif %}
        {{ experience.content }}
        
        {% assign roles = site.roles | sort: "start" %}
        {% for role in roles reversed jek%}
          {% if role.experience == experience_id %}
            <h4>
              {{role.title}}
              <small class="text-muted">{% include date_range.html item=role %}</small>
            </h4>
            {{role.content}}
          {% endif %}
        {% endfor %}
      </div>

    </li>  
  {% endfor %}
</ul>