<style>
  #legend {
    float: right;
  }
  #legend li {
    list-style-type: none;
    display: inline-block;
    margin-right: 1.5em;
    color: gray;
  }
</style>

<div class='row'>
  <div class='col'>
    <h2>Experience</h2>
  </div>
  <div class='col-auto' id='legend'>
    <ul>
      <li><i class='fa fa-briefcase'></i> Employed</li>
      <li><i class='fa fa-handshake-o'></i> Contract</li>
      <li><i class='fa fa-user'></i> Self Employed</li>
      <li><i class='fa fa-hand-peace-o'></i> Voluntary</li>
      <li><i class='fa fa-graduation-cap'></i> Education</li>
    </ul>
  </div>
</div>


<div id="accordion" role="tablist" aria-multiselectable="true">
  {% assign experiences = site.experiences | sort: "start" %}
  {% for experience in experiences reversed %}
    {% assign experience_id = experience.title | downcase %}
    <div class="experience card">      
      <div class="card-header" role="tab" id="heading-experience-{{forloop.index0}}">
        <h3>
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse-experience-{{forloop.index0}}" aria-expanded="true" aria-controls="collapse-experience-{{forloop.index0}}">
            <i class='fa fa-{{ site.data.icons[experience.status] }} fa-fw' aria-label='{{experience.status}}'></i>
            <!-- {% if experience.organisation_url %}
              <a href='{{experience.organisation_url}}'>
            {% endif %} -->
            {{ experience.organisation }}
            <!-- {% if experience.organisation_url %}
              </a>
            {% endif %} -->
            <small class="text-muted">
              {% include date_range.html item=experience %}
            </small>
          </a>
        </h3>
      </div>
      <div id="collapse-experience-{{forloop.index0}}" class="collapse {% if experience.default %}show{%endif%}" role="tabpanel" aria-labelledby="headingOne">
        <div class="card-block">
          <div class='experience-location'>
            {% if experience.location %}
              <div>
                <i class='fa fa-map-marker'></i>
                <address>{{ experience.location }}</address>
              </div>
            {% endif %}
            {% if experience.organisation_url %}
              <div>
                <i class='fa fa-globe'></i>
                <a href='{{ experience.organisation_url }}'>
                  {{ experience.organisation_url | replace: 'http://', '' | replace: 'https://', ''}}
                </a>
              </div>
            {% endif %}
          </div>
          {% if experience.role %}<h4>{{experience.role}}</h4>{% endif %}
          {{ experience.content }}
          
          {% assign roles = site.roles | sort: "start" %}
          {% for role in roles reversed jek%}
            {% if role.experience == experience_id %}
              <h4>
                {{role.title}}
                <small class="text-muted">{% include date_range.html item=role %}</small>
              </h4>
              {{role.content}}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>  
  {% endfor %}
</div>