<h2>Qualifications</h2>

<div id="qualifications" role="tablist" aria-multiselectable="false">
  {% for q in site.qualifications reversed %}

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading-qualification-{{forloop.index0}}">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#qualifications" href="#qualification-{{forloop.index0}}" aria-expanded="{{ forloop.first }}" aria-controls="qualification-{{forloop.index0}}">
          {{ q.title }}
        </a>
      </h3>
    </div>
    <div id="qualification-{{forloop.index0}}" class="panel-collapse collapse {% if forloop.first %}in{%endif%}" role="tabpanel" aria-labelledby="heading-qualification-{{forloop.index0}}">
      <em><a href='{{q.organisation_url}}'>{{ q.organisation }}</a></em>
      {{ q.content }}
    </div>
  </div>

{% endfor %}
</div>
