---
---

@media print {
  body {
    font-size: 12px;
  }
  
  div.jumbotron {
    background: white;
    padding: 0px;
  }
  
  .experience-detail {
    display: block;
  }
  
  footer {
    display: none;
  }

  .hidden-screen {
    display: block;
  }

  .hidden-print {
    display: none;
  }
  
  .jumbotron {
    margin-bottom: 0px;
    
    .container {
      width: 100%;
    }
  }
  
  div.experience-location {
    padding-bottom: 0.5em !important;
  }
  
  kbd {
    background: #eee;
    color: black;
    font-family: sans-serif;
    border: 1px solid black;
  }
  
}